In [16]:
import pandas as pd

In [17]:
titanic_data = pd.read_excel("titanic.xls")
print("Noms des différentes colonnes :")
print(titanic_data.columns)

Noms des différentes colonnes :
Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [15]:
# Calculer l’âge moyen des passagers du titanic
age_moyen_total = titanic_data['age'].mean()
print("\nÂge moyen des passagers du Titanic :", age_moyen_total)

# Calculer l’âge moyen des passagers féminins
age_moyen_femmes = titanic_data[titanic_data['sex'] == 'female']['age'].mean()
print("Âge moyen des passagères du Titanic :", age_moyen_femmes)

# Calculer l’âge moyen des passagers masculins
age_moyen_hommes = titanic_data[titanic_data['sex'] == 'male']['age'].mean()
print("Âge moyen des passagers masculins du Titanic :", age_moyen_hommes)

# Calculer l’écart type de l’âge des passagers
ecart_type_total = titanic_data['age'].std()
print("\nÉcart type de l'âge des passagers du Titanic :", ecart_type_total)

# Calculer l’écart type de l’âge des passagers féminins
ecart_type_femmes = titanic_data[titanic_data['sex'] == 'female']['age'].std()
print("Écart type de l'âge des passagères du Titanic :", ecart_type_femmes)

# Calculer l’écart type de l’âge des passagers masculins
ecart_type_hommes = titanic_data[titanic_data['sex'] == 'male']['age'].std()
print("Écart type de l'âge des passagers masculins du Titanic :", ecart_type_hommes)

Âge moyen des passagers du Titanic : 29.8811345124283
Âge moyen des passagères du Titanic : 28.6870706185567
Âge moyen des passagers masculins du Titanic : 30.5852329787234

Écart type de l'âge des passagers du Titanic : 14.413499699923602
Écart type de l'âge des passagères du Titanic : 14.576995176929644
Écart type de l'âge des passagers masculins du Titanic : 14.280571030002415

In [18]:
# Combien de personnes sont âgées de moins de 20 ans
nb_moins_20 = titanic_data[titanic_data['age'] < 20]['name'].count()
print("\nNombre de passagers âgés de moins de 20 ans :", nb_moins_20)

# Combien de personnes sont âgées de plus de 60 ans
nb_plus_60 = titanic_data[titanic_data['age'] > 60]['name'].count()
print("Nombre de passagers âgés de plus de 60 ans :", nb_plus_60)

Nombre de passagers âgés de moins de 20 ans : 225
Nombre de passagers âgés de plus de 60 ans : 33

In [19]:
# Trouver le nom du passager qui a l’âge le plus proche de la moyenne
age_proche_moyenne = titanic_data.loc[(titanic_data['age'] - age_moyen_total).abs().idxmin()]['name']
print("\nNom du passager avec l'âge le plus proche de la moyenne :", age_proche_moyenne)

# Trouver le nom du passager qui a l’âge le plus proche de la moyenne + 2xSTD
age_proche_moyenne_2xSTD = titanic_data.loc[(titanic_data['age'] - (age_moyen_total + 2 * ecart_type_total)).abs().idxmin()]['name']
print("Nom du passager avec l'âge le plus proche de la moyenne + 2xSTD :", age_proche_moyenne_2xSTD)

Nom du passager avec l'âge le plus proche de la moyenne : Allison, Mr. Hudson Joshua Creighton
Nom du passager avec l'âge le plus proche de la moyenne + 2xSTD : Brown, Mrs. John Murray (Caroline Lane Lamson)